body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgray;
}


.form-container{
    width: 360px;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-form{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    padding: 10px;
}

.success-msg{
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 10px;
    color: white;
}

.form-field{
    border: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding:15px;
    margin: 10px 0px 10px 0px;
}

input {
    background: #f2f2f2;
}

span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
}

.error {
    border-style: solid;
    border: 2px solid #ffa4a4;
}

button {
    background: #4caf50;
    color: white;
    cursor: pointer;
    padding: 12px;
}

button:disabled {
    cursor: default;
}